/*
 * Copyright (c) 2024 The ZMK Contributors
 *
 * SPDX-License-Identifier: MIT
 */

#include <dt-bindings/led/led.h>

&spi3 {
    status = "okay";
    pinctrl-0 = <&spi3_default>;
    pinctrl-1 = <&spi3_sleep>;
    pinctrl-names = "default", "sleep";

    led_strip: ws2812@0 {
        compatible = "worldsemi,ws2812-spi";

        /* SPI */
        reg = <0>; /* ignored, but necessary for SPI bindings */
        spi-max-frequency = <4000000>;

        /* WS2812 */
        chain-length = <8>; /* number of LEDs */
        spi-one-frame = <0x70>;
        spi-zero-frame = <0x40>;

        color-mapping = <LED_COLOR_ID_GREEN LED_COLOR_ID_RED LED_COLOR_ID_BLUE>;
    };
};

&pwm0 {
    status = "okay";
    pinctrl-0 = <&pwm0_default>;
    pinctrl-1 = <&pwm0_sleep>;
    pinctrl-names = "default", "sleep";
};

/ {
    // Delete the existing GPIO LEDs.
    /delete-node/ indicator_leds;

    indicator_leds: indicator_leds {
        compatible = "pwm-leds";
        top_led: pwm_led_0 {
            pwms = <&pwm0 0 PWM_USEC(100) PWM_POLARITY_NORMAL>;
        };
        middle_led: pwm_led_1 {
            pwms = <&pwm0 1 PWM_USEC(100) PWM_POLARITY_NORMAL>;
        };
        bottom_led: pwm_led_2 {
            pwms = <&pwm0 2 PWM_USEC(100) PWM_POLARITY_NORMAL>;
        };
    };

    chosen {
        zmk,underglow = &led_strip;
    };
};
