# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BBPAD

config ZMK_KEYBOARD_NAME
    default "BBPad"

config ZMK_SLEEP
    default y
    depends on SOC_SERIES_NRF52X #TODO: Keep an eye on this, suspect ZMK proper will institute better guarding when people actually start trying RP2040s

config ZMK_RGB_UNDERGLOW
    default y
    # DI pin is B6, so RGB LEDs cannot be enabled for BlackPill until someone writes a compatible bitbang (gpio) or pwm binding
    depends on !SOC_SERIES_STM32F4X
    imply WS2812_STRIP

# Unless someone has intentionally chosen their own thread, default to the global thread if an EC11 encoder exists to cut down on boilerplate
choice EC11_TRIGGER_MODE
    default EC11_TRIGGER_GLOBAL_THREAD
    depends on EC11
endchoice

config EC11
    default n if NRFX_QDEC

# Add delays for BlackPill to stop double matrix reads on first row
if SOC_FAMILY_STM32

config ZMK_KSCAN_MATRIX_WAIT_BEFORE_INPUTS
    default 150

config ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS
    default 150

endif

endif
