# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_BB65

config ZMK_KEYBOARD_NAME
    default "BB65"

config ZMK_SLEEP
    default y
    # TODO:
    # - Keep an eye on this, suspect ZMK proper will institute better guarding when people actually start trying RP2040s
    # - F4x1s do have low-power modes...
    depends on SOC_SERIES_NRF52X

config ZMK_RGB_UNDERGLOW
    default y
    # DI pin is A1, so RGB LEDs cannot be enabled for F401 until someone writes a compatible bitbang (gpio) or pwm binding
    #depends on SOC_STM32F411XE
    # TODO: ...except right now ZMK blindly assumes you have external power control, so RGB can't be enabled AT ALL for STM without forcing CONFIG_ZMK_RGB_UNDERGLOW_EXT_POWER=n. Grand!
    depends on !SOC_FAMILY_STM32
    imply WS2812_STRIP

# TODO: Won't work without a ZMK PR.
# Unless someone has intentionally chosen their own thread, default to the global thread if an EC11 encoder exists to cut down on boilerplate
choice EC11_TRIGGER_MODE
    default EC11_TRIGGER_GLOBAL_THREAD
    depends on EC11
endchoice

config EC11
    default n if NRFX_QDEC

# Add delays for BlackPill to stop double matrix reads on first row
if SOC_FAMILY_STM32

# Features such as macros crash the board with a smaller stack size.
config SYSTEM_WORKQUEUE_STACK_SIZE
    default 2048

config EC11_THREAD_STACK_SIZE
    default 2048 if EC11_TRIGGER_OWN_THREAD

#config ZMK_KSCAN_MATRIX_WAIT_BEFORE_INPUTS
#    default 1
#
#config ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS
#    default 1

endif

endif
