# Copyright (c) 2023 The ZMK Contributors
# SPDX-License-Identifier: MIT

if SHIELD_OBE

config ZMK_KEYBOARD_NAME
    default "OrangeBoyErgo"

config ZMK_SLEEP
    default y
    depends on SOC_SERIES_NRF52X #TODO: Keep an eye on this, suspect ZMK proper will institute better guarding when people actually start trying RP2040s

config ZMK_RGB_UNDERGLOW
    default y
    # DI pin is A0, so RGB LEDs cannot be enabled for BlackPill until someone writes a compatible bitbang (gpio) or pwm binding
    depends on !SOC_SERIES_STM32F4X
    imply WS2812_STRIP

if ZMK_BACKLIGHT

config PWM
    default y if DT_HAS_PWM_LEDS_ENABLED

# TODO: For some reason ZMK lights *all* the LEDs, even the one on the PillBug. Disable GPIO LEDs if the PWM ones are in effect to avoid this
# TODO: Find out if this also happens on BlackPills
# TODO: Find out why it happens and fix whatever the problem is
config LED_GPIO
    default n if LED_PWM

endif

# Unless someone has intentionally chosen their own thread, default to the global thread if an EC11 encoder exists to cut down on boilerplate
choice EC11_TRIGGER_MODE
    default EC11_TRIGGER_GLOBAL_THREAD
    depends on EC11
endchoice

config EC11
    default n if NRFX_QDEC

# Add delays for BlackPill to stop double matrix reads
if SOC_FAMILY_STM32

# Features such as macros crash the board with a smaller stack size.
config SYSTEM_WORKQUEUE_STACK_SIZE
    default 2048

config EC11_THREAD_STACK_SIZE
    default 2048 if EC11_TRIGGER_OWN_THREAD

config ZMK_KSCAN_MATRIX_WAIT_BEFORE_INPUTS
    default 150

config ZMK_KSCAN_MATRIX_WAIT_BETWEEN_OUTPUTS
    default 150

endif

endif
